{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %} 
    {{ super() }}
    <title>{% block title %}{% endblock %} -Flask </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <nav class="navbar navbar-inverse" style="border-radius: 0px;">
            <ul class="nav navbar-nav">
                <p class="navbar-text">Some text</p>  
            </ul>
        </nav>
    {% endblock %}

{% block content %} 
<div class="container">

    <form action="/genders">
    {% for i in gender %}
        <input class="btn-radio" type="radio" id="{{i}}" name="gender" value="{{i}}">
        <label for="{{i}}">{{i}}</label>
    {% endfor %}
    <input type="submit">   
    </form>

    <div class="container tbl">   
        <table class="table table-striped" >
            <thead>
            <tr style="background-color: black; color:white;">
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Ip Address</th>
            </tr>
            </thead>
            {% for i in json: %}
                <tbody>
                <tr>
                    <td>{{ i['first_name'] }}</td>
                    <td>{{ i['last_name'] }}</td>
                    <td>{{ i['email'] }}</td>
                    <td>{{ i['gender'] }}</td>
                    <td>{{ i['ip_address'] }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
    {% endblock %} 
    
</body>
</html>



